#education {
  .education-btn {
    width: auto;
    height: 35px;
    padding: 3px 5px 0 5px;
    background-color: silver;
    border: 1px solid gray;
  }
  .education-btn:hover {
    box-shadow: 2px 2px 2px rgba($color: gray, $alpha: 1);
  }

  .education-btn-dark {
    background-color: rgb(51, 51, 51);
    border: 1px solid rgb(104, 104, 104);
  }
}

.modal-body.row {
  height: 50%;
}

.certificateBasic,
.certificatePro,
.certificateTS,
.javaScript,
.html,
.css,
.recommendation {
  height: 100%;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
}

.certificateBasic {
  background-image: url(../../img/certificate/hillelBasic.png);
}

.certificatePro {
  background-image: url(../../img/certificate/hillelPro.png);
}

.certificateTS {
  background-image: url(../../img/certificate/hillelTS.png);
}

.javaScript {
  background-image: url(../../img/certificate/JavaScript.png);
}

.html {
  background-image: url(../../img/certificate/html.png);
}

.css {
  background-image: url(../../img/certificate/css.png);
}

.recommendation.enBasic {
  background-image: url(../../img/recommendation/recBasicEn.png);
}

.recommendation.uaBasic {
  background-image: url(../../img/recommendation/recBasicUa.png);
}

.recommendation.ruBasic {
  background-image: url(../../img/recommendation/recBasicRu.png);
}

.recommendation.enPro {
  background-image: url(../../img/recommendation/recProEn.png);
}

.recommendation.uaPro {
  background-image: url(../../img/recommendation/recProUa.png);
}

.recommendation.ruPro {
  background-image: url(../../img/recommendation/recProRu.png);
}

.recommendation.enTS {
  background-image: url(../../img/recommendation/recTSEn.png);
}

.recommendation.ruTS {
  background-image: url(../../img/recommendation/recTSRu.png);
}

.recommendation.uaTS {
  background-image: url(../../img/recommendation/recTSUa.png);
}
