#personalInfo {
  img {
    height: auto;
    width: 100%;
    max-width: 420px;
  }

  .phoneNumber {
    margin-left: 5px;
    text-decoration: none;
  }

  .conteinerSotial {
    margin: 10px 0;
    padding: 0;
  }
}
