#header {
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: inherit;

  .btn-title,
  .btn-summary,
  .btn-projects,
  .btn-home {
    width: 75px;
    height: 30px;
    padding: 3px 0 0 0;
    font-size: 18px;
    font-weight: 600;
    background-color: inherit;
    border-color: inherit;
    border: none;
    color: gray;
    margin: 5px 5px 0 0;
  }

  .btn-language {
    width: 40px;
    height: 30px;
    padding: 3px 0 0 0;
    background-color: silver;
    border-color: gray;
    margin: 10px 0 0 10px;
  }

  .btn-summary-dark,
  .btn-projects-dark,
  .btn-home-dark {
    background-color: inherit;
    border: none;
  }

  .active {
    border: none;
    color: #2196f3;
  }

  .header-menu {
    display: flex;
    flex-direction: row;
  }
}
