.humburger {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  .menu-block {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    #menu {
      background-color: inherit;
      display: block;
      width: 40px;
      height: 40px;
      border: none;
      border-radius: 50%;
      position: relative;
      z-index: 3;
    }

    #menu.dark-theme {
      background-color: inherit;
    }

    img {
      width: 33px;
      height: 33px;
    }
  }

  .menu-nav button {
    color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: inherit;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    border: 1px solid silver;
    opacity: 0;
    transition: transform 0.4s ease, opacity 0.4s ease;
    position: absolute;
    left: calc(40% - 15px);
    top: calc(40% - 15px);
    z-index: 0;
  }

  .menu-nav.dark-theme button {
    background-color: inherit;
    color: white;
  }

  .menu-nav_active button:nth-child(1) {
    transform: translate(-150%, 0%);
    opacity: 1;
    transition-delay: 0.1s;
  }

  .menu-nav_active button:nth-child(2) {
    transform: translate(-100%, 100%);
    opacity: 1;
    transition-delay: 0.2s;
  }

  .menu-nav_active button:nth-child(3) {
    transform: translate(0%, 150%);
    opacity: 1;
    transition-delay: 0.3s;
  }

  .active-en {
    background-image: url("../../img/united-kingdom.png");
    background-size: cover;
    font-size: 0px;
  }

  .active-ua {
    background-image: url("../../img/ukraine.png");
    background-size: cover;
    font-size: 0px;
  }

  .active-ru {
    background-image: url("../../img/russia.png");
    background-size: cover;
    font-size: 0px;
  }
}

.site-theme {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  #theme {
    display: block;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    position: relative;
    z-index: 3;
  }

  #theme.light-theme {
    background-color: inherit;
    background-image: url("../../img/sun.png");
    background-size: cover;
  }

  #theme.dark-theme {
    background-color: inherit;
    background-image: url("../../img/night.png");
    background-size: cover;
  }
}
