@media screen and (min-width: 576px) {
  .photoOne {
    display: none;
  }

  .photoTwo {
    width: 100%;
    height: 220px;
    background-image: url(../img/photo.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
  }
}
@media screen and (max-width: 576px) {
  .photoOne {
    width: 100%;
    height: 200px;
    background-image: url(../img/photo.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 0 10px 10px;
    display: flex;
  }

  .photoTwo {
    display: none;
  }
}
