@media screen and (min-width: 576px) {
  .photoOne {
    display: none;
  }

  .photoTwo {
    display: flex;
  }
}
@media screen and (max-width: 576px) {
  .photoOne {
    margin-bottom: 10px;
    display: flex;
  }

  .photoTwo {
    display: none;
  }
}
