@media screen and (min-width: 576px) {
  .photoOne {
    display: none;
  }

  .photoTwo {
    width: 100%;
    height: auto;
    background-image: url(../img/myPhoto.png);
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
  }
}
@media screen and (max-width: 576px) {
  .photoOne {
    width: 100%;
    height: 300px;
    background-image: url(../img/myPhoto.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 10px 0px;
    display: flex;
  }

  .photoTwo {
    display: none;
  }
}
