@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import "media";

* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

html,
body {
  background-image: url(../img/background.jpg);
  background-size: cover;
  background-attachment: fixed;
}

#hardSkill,
#personalInfo,
#education,
#experience,
#softSkill,
#otherInfo {
  margin: 0 0 10px 0;
  padding: 0 12px;
}

// ----- Header -----
#header {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;

  .btnTitle {
    width: 80px;
    height: 30px;
    padding: 3px 0 0 0;
    background-color: silver;
    border-color: gray;
    margin: 10px 0 0 10px;
  }

  .btnLanguage {
    width: 40px;
    height: 30px;
    padding: 3px 0 0 0;
    background-color: silver;
    border-color: gray;
    margin: 10px 0 0 10px;
  }

  .active {
    background-color: gray;
  }
}

// ----- personalInfo -----
#personalInfo {
  img {
    height: auto;
    width: 100%;
    max-width: 420px;
  }

  .phoneNumber {
    margin-left: 5px;
    text-decoration: none;
  }

  .conteinerOne {
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    position: relative;

    .icon {
      width: 45px;
      height: 45px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.3s;
      margin: 5px 5px 10px 0;
    }

    .socialIcon {
      position: relative;
      bottom: 11px;
      right: 0px;
    }

    a {
      width: 45px;
      height: 45px;
      padding: 5px;
      color: #fff;
      border-radius: 50%;
      font-size: 30px;
      text-align: center;
    }

    .telegram {
      border: 3px solid rgb(45, 178, 223);
      color: skyblue;
    }

    .google {
      border: 3px solid rgb(248, 83, 83);
      color: rgb(248, 83, 83);
    }

    .git {
      border: 3px solid rgb(146, 146, 146);
      color: rgb(146, 146, 146);
    }

    .linkedin {
      border: 3px solid blue;
      color: blue;
    }
  }
}

// ----- summary -----
#summary {
  p {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
  }
}

// ----- education -----
#hardSkill,
#education {
  ul {
    margin: 10px 0 0 0;
  }
}

#education {
  .btn {
    width: auto;
    height: 35px;
    padding: 3px 5px 0 5px;
    background-color: silver;
    border: 1px solid gray;
  }
  .btn:hover {
    box-shadow: 2px 2px 2px rgba($color: gray, $alpha: 1);
  }
}

#hardSkill,
#education,
#experience,
#softSkill,
#otherInfo {
  li {
    margin-left: 30px;
  }
}

.modal-body.row {
  height: 50%;
}

.certificateBasic {
  height: 100%;
  width: 100%;
  background-image: url(../img/basic.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.certificatePro {
  height: 100%;
  width: 100%;
  background-image: url(../img/NaumkinPro.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.javaScript {
  height: 100%;
  width: 100%;
  background-image: url(../img/JavaScript.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.html {
  height: 100%;
  width: 100%;
  background-image: url(../img/html.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.css {
  height: 100%;
  width: 100%;
  background-image: url(../img/css.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.recommendation {
  height: 100%;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
}

.recommendation.enBasic {
  background-image: url(../img/recBasicEn.png);
}

.recommendation.uaBasic {
  background-image: url(../img/recBasicUa.png);
}

.recommendation.ruBasic {
  background-image: url(../img/recBasicRu.png);
}

.recommendation.enPro {
  background-image: url(../img/recProEn.png);
}

.recommendation.uaPro {
  background-image: url(../img/recProUa.png);
}

.recommendation.ruPro {
  background-image: url(../img/recProRu.png);
}

.cards {
  width: 100%;
  margin-bottom: 20px;
  padding: 20px 20px 0 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;

  .cardProject {
    max-width: 320px;
    width: 100%;
    height: 400px;
    border-radius: 10px;
    border: 1px solid silver;
    background-color: rgb(231, 231, 231);
    position: relative;
    box-shadow: 5px 5px 8px 1px rgb(107, 107, 107);

    .cardImg {
      width: 100%;
      height: 300px;
      border-radius: 10px 10px 0 0;
    }

    h3 {
      margin: 10px 15px;
      font-size: 20px;
    }

    h4 {
      margin: 6px 15px;
      font-size: 14px;
    }

    a {
      width: 100%;
      height: 100%;
      border-radius: 10px;
      position: absolute;
      top: 0;
    }

    .one {
      background-image: url(../img/foodDelivery.png);
      background-size: cover;
    }

    .two {
      background-image: url(../img/hoodie.png);
      background-size: cover;
    }

    .three {
      background-image: url(../img/hlegal.png);
      background-size: cover;
    }

    .four {
      background-image: url(../img/odessa.png);
      background-size: cover;
    }

    .five {
      background-image: url(../img/login.png);
      background-size: cover;
    }

    .six {
      background-image: url(../img/education.png);
      background-size: cover;
    }

    .seven {
      background-image: url(../img/weather.png);
      background-size: cover;
    }

    .eight {
      background-image: url(../img/todoList.png);
      background-size: cover;
    }

    .nine {
      background-image: url(../img/mobileApp.png);
      background-size: cover;
    }

    .ten {
      background-image: url(../img/lightShop.png);
      background-size: cover;
    }
  }
}
