@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import "media";

* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

body {
  background-image: url(../img/themelight.png);
  background-size: cover;
  background-attachment: fixed;
}

.body-dark {
  background-image: url(../img/themedark.jpg);
  background-size: cover;
  background-attachment: fixed;
  color: silver;
}

#hardSkill,
#personalInfo,
#education,
#experience,
#softSkill,
#otherInfo {
  margin: 0 0 10px 0;
  padding: 0 12px;
}

#hardSkill,
#education {
  ul {
    margin: 10px 0 0 0;
  }
}

#hardSkill,
#education,
#experience,
#softSkill,
#otherInfo {
  li {
    margin-left: 30px;
  }
}

// 404 Page
.errorPage {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 10rem 0 0 0;

  a {
    margin-left: 10px;
    text-decoration: none;
  }
}
