#back-top {
  background-color: rgb(209, 208, 208);
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  position: fixed;
  bottom: 15px;
  right: 15px;
  opacity: 0.4;

  &:hover {
    opacity: 0.8;
  }

  a {
    position: absolute;
    width: 32px;
    height: 32px;
    border-radius: 50%;
  }
}
