#back-top {
  background-color: rgb(209, 208, 208);
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transform: translateY(20px);
  transition:
    opacity 0.4s ease,
    transform 0.4s ease,
    visibility 0.4s,
    background-color 0.3s;

  &.visible {
    opacity: 0.4;
    visibility: visible;
    transform: translateY(0);
  }

  &:hover {
    opacity: 0.8;
  }

  a {
    position: absolute;
    width: 32px;
    height: 32px;
    border-radius: 50%;
  }
}
